@model List<Product>
@{
    ViewBag.Title = "Categories";
}

<div class="card shadow border-0 mt-lg-5">
    <div class="card-header ml-0 py-1 bg-primary">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-12 text-end">
                <a asp-action="Create" asp-controller="Product" class="btn btn-primary">
                    <i class="bi bi-plus"></i> Create New Product
                </a>
            </div>
        </div>
        <table class="table table-hover table-striped">
            <thead class="table-primary">
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>

                    <th></th>
                </tr>
            </thead>
            <tbody class="table">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.ISBN</td>
                        <td>@item.Price</td>
                        <td>@item.Author</td>
                        <td>
                            @item.Category.Name
                        </td>

                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-primary" style="width:150px">
                                    <i class="bi bi-pen"></i> Edit
                                </a>
                            </div>
                            <div class="btn-group" role="group">
                                <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-danger col-12" style="width:150px">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
</div>


<div class="container">
